<template>
  <div>
    <canvas id="canvasFill" ref="canvasFill" width="800" height="800"
      >Not supported Canvas</canvas
    >
    <canvas id="canvasAnim" ref="canvasAnim" width="800" height="800"
      >Not supported Canvas</canvas
    >
    <canvas
      id="canvas"
      ref="canvas"
      width="800"
      height="800"
      @click="handleClick"
      @contextmenu.prevent="endDraw"
      @mousemove="mousemove"
      @mousedown="handleMousedown"
      @mouseup="handleMouseup"
      >Not supported Canvas</canvas
    >
    <form ref="contextMenu" class="data-line" v-if="lines.length > 0">
      <div v-if="selectedLine()">
        <input
          type="number"
          min="1"
          ref="parkingSize"
          class="parking-count--small"
          v-model="lines[indexSelectedLine].main_line.attributes.parking_size"
          @input="validationParkingPlace"
          @focus="$event.target.select()"
        />
        <v-btn
          @click="switchTypeParkingPlace"
          :color="getColorParkingPlace"
          icon
          tile
          ><img src="/img/icon-disabled.svg" width="20" alt="icon-invalid"
        /></v-btn>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { COLORS, MOVE_TYPE, ACTION_TYPES } from "./Constants";
import {
  animationDrawingLine,
  dragPoint,
  dragDelta,
  dragLine,
} from "./CanvasMousemove";
import {
  drawLine,
  startDraw,
  addPointOnLine,
  selectPointOnLine,
  dischargeSelectedLine,
} from "./CanvasHandleClick";
import { renderMainLine, renderAreaLine, renderDelta } from "./CanvasRender";

export default defineComponent({
  name: "Canvas",
  data() {
    return {
      lines: [] as parkingPlacesArrayType,
      defaultParkingColor: COLORS.defaultParkingColor,
      invalidParkingColor: COLORS.invalidParkingColor,
      visibleContextMenu: false,
      indexSelectedLine: 0,
      indexStartPoint: 0,
      indexMovePoint: -1,
      indexDeltaPoint: -1,
      moveLine: {
        index: -1,
        x: 0,
        y: 0,
      },
    };
  },
  methods: {
    selectedLine() {
      return !!(this.indexSelectedLine !== -1);
    },
    switchTypeParkingPlace() {
      const { indexSelectedLine } = this;
      const { disabled } = this.lines[indexSelectedLine].main_line.attributes;
      this.lines[indexSelectedLine].main_line.attributes.disabled = !disabled;
    },
    // События мыши
    handleClick(event: MouseEvent) {
      const x = event.offsetX;
      const y = event.offsetY;

      const canvasFill = this.$refs.canvasFill as HTMLCanvasElement;
      const ctxFill = canvasFill.getContext("2d") as CanvasRenderingContext2D;

      // Добавление точки на линии
      if (this.defineAction(ACTION_TYPES.addPoint)) {
        addPointOnLine(this, x, y);
        return;
      }

      // Выбор точки на линии
      if (this.defineAction(ACTION_TYPES.downPoint)) {
        selectPointOnLine(this, x, y);
        return;
      }

      // Выбор линии разметки
      if (
        this.defineAction(ACTION_TYPES.selectedLine) ||
        this.defineAction(ACTION_TYPES.waitAction)
      ) {
        for (let [index, line] of this.lines.entries()) {
          const { attributes } = line.main_line;

          if (ctxFill.isPointInPath(attributes.path, x, y)) {
            dischargeSelectedLine(this);
            this.$store.dispatch("changeAction", ACTION_TYPES.selectedLine);
            this.$store.dispatch("selectLine", index);
            attributes.selected = true;

            return;
          }
        }
      }

      // Сброс выделения разметки линии
      if (this.defineAction(ACTION_TYPES.selectedLine)) {
        const { indexSelectedLine: index, lines } = this;
        const { parking_size: parkingSize } = lines[index].main_line.attributes;

        // Если количество парковочных мест не равно 0
        if (parkingSize > 0) {
          dischargeSelectedLine(this);

          return;
        }
      }

      // Начало рисования основной линии
      if (this.defineAction(ACTION_TYPES.waitAction)) {
        this.$store.dispatch("selectLine", this.lines.length);
        startDraw(this, x, y);

        return;
      }

      // Продолжение рисования основной линий
      if (this.defineAction(ACTION_TYPES.drawLine)) {
        drawLine(this, x, y);
      }
    },
    handleMousedown(event: MouseEvent) {
      const x = event.offsetX;
      const y = event.offsetY;

      const canvasFill = this.$refs.canvasFill as HTMLCanvasElement;
      const ctxFill = canvasFill.getContext("2d") as CanvasRenderingContext2D;

      if (this.defineAction(ACTION_TYPES.pointerPoint)) {
        const { indexPoint, move } = this.handleMouseover(x, y);

        // Нажатие на точку
        if (move === MOVE_TYPE.point) {
          this.indexMovePoint = indexPoint;
        }

        // Нажатие на дельту
        if (move === MOVE_TYPE.delta) {
          this.indexDeltaPoint = indexPoint;
        }
      }

      // Нажатие на линию
      for (let [index, line] of this.lines.entries()) {
        const { attributes } = line.main_line;

        if (ctxFill.isPointInPath(attributes.path, x, y)) {
          this.moveLine = { index, x, y };

          return;
        }
      }
    },
    handleMouseup() {
      const canvas = this.$refs.canvas as HTMLCanvasElement;

      setTimeout(() => {
        canvas.style.zIndex = "0";

        if (
          this.defineAction(ACTION_TYPES.movePoint) ||
          this.defineAction(ACTION_TYPES.moveDelta)
        ) {
          this.$store.dispatch("changeAction", ACTION_TYPES.selectedLine);
        }

        this.moveLine.index = -1;
        this.indexMovePoint = -1;
        this.indexDeltaPoint = -1;

        if (this.defineAction(ACTION_TYPES.moveLine)) {
          if (this.indexSelectedLine === -1) {
            this.$store.dispatch("changeAction", ACTION_TYPES.waitAction);
            return;
          }
          this.$store.dispatch("changeAction", ACTION_TYPES.selectedLine);
        }
      }, 50);
    },
    mousemove(event: MouseEvent) {
      const canvas = this.$refs.canvas as HTMLCanvasElement;
      const x = event.offsetX;
      const y = event.offsetY;

      // Анимация отрисовки линии
      if (this.defineAction(ACTION_TYPES.drawLine)) {
        animationDrawingLine(this, x, y);
      }

      // Сброс стилей мыши
      if (this.defineAction(ACTION_TYPES.pointerPoint)) {
        this.$store.dispatch("changeAction", ACTION_TYPES.selectedLine);
      }

      // Если мы навелись мышкой на точку, то меняем стили курсора
      if (
        this.defineAction(ACTION_TYPES.selectedLine) &&
        this.handleMouseover(x, y).indexPoint >= 0
      ) {
        this.$store.dispatch("changeAction", ACTION_TYPES.pointerPoint);
      }

      // Перетаскивание точки
      if (this.indexMovePoint !== -1) {
        canvas.style.zIndex = "1";
        dragPoint(this, x, y);
        return;
      }

      // Перетаскивание дельты
      if (this.indexDeltaPoint !== -1) {
        canvas.style.zIndex = "1";
        dragDelta(this, x, y);
        return;
      }

      // Перетаскивание линии
      if (this.moveLine.index !== -1) {
        dragLine(this, x, y);
      }
    },
    endDraw() {
      if (this.defineAction(ACTION_TYPES.drawLine)) {
        const canvas = this.$refs.canvas as HTMLCanvasElement;
        const ctx = canvas.getContext("2d") as CanvasRenderingContext2D;

        ctx.clearRect(0, 0, canvas.width, canvas.height);
        this.$store.dispatch("changeAction", ACTION_TYPES.selectedLine);
      }
    },
    defineAction(action: string) {
      return this.$store.state.action === action;
    },

    // Сравнение координат двух точек
    comparisonCordPoints(x1: number, y1: number, x2: number, y2: number) {
      return !!(x1 > x2 - 15 && x1 < x2 + 15 && y1 > y2 - 15 && y1 < y2 + 15);
    },
    // Сравнение координат мыши и линии
    lineover(mouseX: number, mouseY: number) {
      for (let [indexLine, line] of this.lines.entries()) {
        let points = line.main_line.points;
        for (let i = 0; i < points.length; i++) {
          let startPoint = { id: 0, x: 0, y: 0 };
          let endPoint = { id: 0, x: 0, y: 0 };
          if (i === points.length - 1) {
            startPoint = points[i - 1];
            endPoint = points[i];
          } else {
            startPoint = points[i];
            endPoint = points[i + 1];
          }
          if (
            // Если линия направлена в правый нижний угол
            (mouseX > startPoint.x &&
              mouseX < endPoint.x &&
              mouseY > startPoint.y &&
              mouseY < endPoint.y) ||
            // Если линия направлена в левый верхний угол
            (mouseX < startPoint.x &&
              mouseX > endPoint.x &&
              mouseY < startPoint.y &&
              mouseY > endPoint.y) ||
            // Если линия направлена в правый верхний угол
            (mouseX > startPoint.x &&
              mouseX < endPoint.x &&
              mouseY < startPoint.y &&
              mouseY > endPoint.y) ||
            // Если линия направлена в левый нижний угол
            (mouseX < startPoint.x &&
              mouseX > endPoint.x &&
              mouseY > startPoint.y &&
              mouseY < endPoint.y)
          ) {
            return { indexLine, indexPoint: i + 1 };
          }
        }
      }
      return { indexLine: -1, indexPoint: -1 };
    },
    handleMouseover(mouseX: number, mouseY: number) {
      const { comparisonCordPoints } = this;
      const line = this.lines[this.indexSelectedLine].main_line;

      for (let [indexPoint, point] of line.points.entries()) {
        const delta = {
          x: point.x - line.delta.x,
          y: point.y - line.delta.y,
        };
        const reverseDelta = {
          x: point.x + line.delta.x,
          y: point.y + line.delta.y,
        };

        // Сравнение координат мыши и точки
        if (comparisonCordPoints(mouseX, mouseY, point.x, point.y)) {
          return { indexPoint, move: MOVE_TYPE.point };
        }

        // Сравнение координат мыши и дельты
        if (
          comparisonCordPoints(mouseX, mouseY, delta.x, delta.y) ||
          comparisonCordPoints(mouseX, mouseY, reverseDelta.x, reverseDelta.y)
        ) {
          return { indexPoint, move: MOVE_TYPE.delta };
        }
      }

      return { indexPoint: -1, move: "" };
    },

    // Валидация поля 'количество парковочных мест'
    validationParkingPlace() {
      const { indexSelectedLine: index, lines } = this;
      const { parking_size: parkingSize } = lines[index].main_line.attributes;
      const parkingSizeElement = this.$refs.parkingSize as HTMLElement;

      if (parkingSize <= 0) {
        parkingSizeElement.style.outlineColor = COLORS.red;
        parkingSizeElement.style.borderColor = COLORS.red;
        return;
      }

      parkingSizeElement.style.outlineColor = COLORS.black;
      parkingSizeElement.style.borderColor = COLORS.black;
    },

    // Отрисовка разметки
    renderMarkup() {
      const canvas = this.$refs.canvasAnim as HTMLCanvasElement;
      const ctx = canvas.getContext("2d") as CanvasRenderingContext2D;
      const canvasFill = this.$refs.canvasFill as HTMLCanvasElement;
      const ctxFill = canvas.getContext("2d") as CanvasRenderingContext2D;

      canvas.width = canvas.offsetWidth;
      canvas.height = canvas.offsetHeight;
      canvasFill.width = canvasFill.offsetWidth;
      canvasFill.height = canvasFill.offsetHeight;

      this.lines = this.$store.state.lines;
      this.indexSelectedLine = this.$store.state.selectedLine;

      // Отрисовка всех точек и линий
      if (this.lines.length > 0) {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.lineJoin = "round";
        ctx.lineCap = "round";
        for (let line of this.lines) {
          const { main_line } = line;
          const contextMenu = this.$refs.contextMenu as HTMLElement;
          const contextX = main_line.points[0].x - 50;
          const contextY = main_line.points[0].y + 15;

          // Отрисовка области вокруг линии
          renderAreaLine(this, ctxFill, main_line);

          if (main_line.attributes.selected) {
            // Отрисовка основных линий и точек
            renderMainLine(ctx, main_line.points);
            // Отрисовка дельты
            renderDelta(this, ctx, main_line);
            this.visibleContextMenu = true;
            contextMenu.style.left = `${contextX}px`;
            contextMenu.style.top = `${contextY}px`;
          }
        }
      }

      requestAnimationFrame(this.renderMarkup);
    },
  },
  computed: {
    getColorParkingPlace() {
      if (this.lines[this.indexSelectedLine].main_line.attributes.disabled) {
        return COLORS.defaultParkingColor;
      }

      return COLORS.invalidParkingColor;
    },
  },
  mounted() {
    this.renderMarkup();
    addEventListener("keydown", (event: KeyboardEvent) => {
      if (event.ctrlKey) {
        this.$store.dispatch("changeAction", ACTION_TYPES.addPoint);
      }
    });
    addEventListener("keyup", (event: KeyboardEvent) => {
      const { code } = event;
      const { indexSelectedLine } = this;
      const canvas = this.$refs.canvas as HTMLCanvasElement;
      const ctx = canvas.getContext("2d") as CanvasRenderingContext2D;

      if (event.key === "Control") {
        this.$store.dispatch("changeAction", ACTION_TYPES.selectedLine);
      }

      if (code === "Escape") {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        this.$store.dispatch("changeAction", ACTION_TYPES.waitAction);
      }

      // Удаление точек
      if (code === "Delete" && this.defineAction(ACTION_TYPES.selectedLine)) {
        const { main_line } = this.lines[indexSelectedLine];

        main_line.points.splice(this.indexStartPoint, 1);
        this.indexStartPoint = main_line.points.length - 1;
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        if (main_line.points.length < 2) {
          this.visibleContextMenu = false;
          this.lines.splice(indexSelectedLine, 1);
          this.indexSelectedLine = -1;
          this.$store.dispatch("banReload");
          this.$store.dispatch("selectLine", -1);
          this.$store.dispatch("changeAction", ACTION_TYPES.waitAction);
        }
      }
    });
    addEventListener("keypress", (event: KeyboardEvent) => {
      const parkingSize = this.$refs.parkingSize as HTMLElement;

      if (event.key === "Enter") {
        if (parkingSize) {
          parkingSize.blur();
        }
      }
    });
    window.onbeforeunload = () => {
      if (!this.$store.state.reload) {
        return "Данные не сохранены. Точно перейти?";
      }
    };
  },
});
</script>

<style>
#canvas,
#canvasAnim,
#canvasFill {
  position: absolute;
  left: 0;
  width: 1920px;
  height: 1080px;
}

.data-line {
  position: absolute;
}

.input-wrapper {
  display: grid;
  margin: 20px 0;
}

.parking-count--small {
  text-align: center;
  max-width: 55px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
}
</style>
