<template>
  <div>
    <v-app-bar-title>Настройки url: </v-app-bar-title>
    <label class="label" v-for="[index, url] in urlList.entries()" :key="index">
      <span>{{ url.title }}</span>
      <input type="text" @input="changeUrl(index, url.url)" v-model="url.url" />
    </label>
  </div>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "ChangeUrl",
  data() {
    return {
      urlList: [
        {
          title: "Адрес получения картинки",
          url: "http://gpu3-chel1:8083/photo",
        },
        {
          title: "Адрес получения разметки",
          url: "http://10.80.0.147:5002/marking/v2",
        },
        {
          title: "Адрес отправки разметки",
          url: "http://10.80.0.147:5002/marking/v2",
        },
      ],
    };
  },
  methods: {
    changeUrl(index, url) {
      this.$store.dispatch("changeUrl", { index, url });
      localStorage.setItem(`url${index}`, url);
    },
  },
  mounted() {
    for (let [index, url] of this.urlList.entries()) {
      const urlIndex = localStorage.getItem(`url${index}`);

      url.url = urlIndex || this.$store.state.urlList[index].url;
    }
  },
});
</script>
<style>
.label {
  display: block;
  padding: 5px 20px;
}
</style>
