<template>
  <div id="canvas-wrapper" :class="changeStyleCursor">
    <Canvas />
    <img
      :src="`${$store.state.urlList[0].url}/${$store.state.imgId}`"
      width="1920"
      height="1080"
    />
  </div>
</template>

<script lang="ts">
import { defineAsyncComponent, defineComponent } from "vue";
import { ACTION_TYPES } from "./Constants";

export default defineComponent({
  components: {
    Canvas: defineAsyncComponent(() => import("./Canvas.vue")),
  },
  name: "GetImg",
  computed: {
    changeStyleCursor: function () {
      return {
        addPoint: this.$store.state.action === ACTION_TYPES.addPoint,
        moveLine: this.$store.state.action === ACTION_TYPES.moveLine,
        movePoint: this.$store.state.action === ACTION_TYPES.movePoint,
        moveDelta: this.$store.state.action === ACTION_TYPES.moveDelta,
        pointerPoint: this.$store.state.action === ACTION_TYPES.pointerPoint,
      };
    },
  },
});
</script>

<style>
img {
  user-select: none;
  margin: 0 auto;
  object-fit: cover;
}

#canvas-wrapper {
  position: relative;
  display: flex;
  max-height: calc(100% - 64px);
  height: 100%;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.parking-place {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.addPoint {
  cursor: cell;
}

.movePoint,
.moveDelta {
  cursor: grabbing;
}

.moveLine {
  cursor: url(https://webref.ru/assets/images/css/cursor/move.png), move;
}

.pointerPoint {
  cursor: pointer;
}
</style>
