<template>
  <v-app-bar-title>Разметка: </v-app-bar-title>
  <PopUp v-if="popUp" :popUp="popUp" @closePopUp="popUp = false">
    <input type="file" name="markup" ref="importMarkup" />
    <v-btn @click="importMarkup">Import</v-btn>
  </PopUp>
  <v-card>
    <v-btn @click="popUp = true">Import</v-btn>
    <v-btn @click="exportMarkup">Export</v-btn>
  </v-card>
  <ul>
    <li v-for="[index, line] in $store.state.lines.entries()" :key="index">
      <v-card
        block
        tile
        color="primary"
        v-if="line.main_line.attributes.selected"
      >
        <span class="v-btn__left-item">
          {{ `Line ${index + 1} ` }}
        </span>
        {{ lineInfo(line.main_line) }}
      </v-card>
      <v-card block tile @click="selectLine(line.main_line, index)" v-else>
        <span class="v-btn__left-item">
          {{ `Line ${index + 1} ` }}
        </span>
        {{ lineInfo(line.main_line) }}
      </v-card>
    </li>
  </ul>
</template>
<script lang="ts">
import { defineComponent, defineAsyncComponent } from "vue";
import { ACTION_TYPES } from "./Constants";

export default defineComponent({
  components: {
    PopUp: defineAsyncComponent(() => import("./PopUp.vue")),
  },
  name: "MarkupList",
  data() {
    return {
      popUp: false,
      lines: [] as parkingPlacesArrayType,
    };
  },
  methods: {
    importMarkup() {
      const importMarkupElement = this.$refs.importMarkup as HTMLInputElement;

      if (importMarkupElement.files != null) {
        const file = importMarkupElement.files[0];
        const reader = new FileReader();

        reader.readAsText(file);
        reader.onload = () => {
          const resultReader = reader.result as string;
          const resultJson = Object.values(JSON.parse(resultReader))[0] as any;
          let lines = [] as parkingPlacesArrayType;
          let i = 1;

          this.popUp = false;
          for (let r of resultJson.regions) {
            const { shape_attributes: shapeAttributes } = r;
            const { region_attributes: regionAttributes } = r;
            let line = {
              main_line: {
                points: [] as IPointCoordinate[],
                delta: {} as ICoordinates,
                attributes: {} as IAttributesMainLine,
              },
            };

            if (regionAttributes.line_type == 2) {
              const parkingSize = regionAttributes["parking_size/line_id"];
              const disabled = regionAttributes.disable.yes;

              for (let id = 0; id < shapeAttributes.all_points_x.length; id++) {
                let x = shapeAttributes.all_points_x[id];
                let y = shapeAttributes.all_points_y[id];

                line.main_line.points.push({ id, x, y });
              }
              line.main_line.attributes.parking_size = parkingSize;
              line.main_line.attributes.disabled = disabled;
              lines.push(line);
            } else {
              const index = regionAttributes["parking_size/line_id"] - i;
              const [x1, x2] = shapeAttributes.all_points_x;
              const [y1, y2] = shapeAttributes.all_points_y;
              const x = (x2 - x1) / 2;
              const y = (y2 - y1) / 2;

              lines[index].main_line.delta = { x, y };
              i++;
            }
          }
          this.$store.dispatch("savePoint", lines);
        };

        reader.onerror = () => {
          console.log(reader.error);
        };
      }
    },
    exportMarkup() {
      const regions = [];
      const { lines } = this.$store.state;
      let i = 1;

      for (let line of lines) {
        const lineOldFormat = {
          shape_attributes: {
            name: "polyline",
            all_points_x: [] as number[],
            all_points_y: [] as number[],
          },
          region_attributes: {
            disable: {
              yes: line.main_line.attributes.disabled,
            },
            line_type: "2",
            "parking_size/line_id": line.main_line.attributes.parking_size,
          },
        };

        const deltaX1 = line.main_line.points[0].x + line.main_line.delta.x;
        const deltaY1 = line.main_line.points[0].y + line.main_line.delta.y;
        const deltaX2 = line.main_line.points[0].x - line.main_line.delta.x;
        const deltaY2 = line.main_line.points[0].y - line.main_line.delta.y;
        const deltaOldFormat = {
          shape_attributes: {
            name: "polyline",
            all_points_x: [deltaX1, deltaX2],
            all_points_y: [deltaY1, deltaY2],
          },
          region_attributes: {
            disable: {
              yes: line.main_line.attributes.disabled,
            },
            line_type: "1",
            "parking_size/line_id": i,
          },
        };

        for (let point of line.main_line.points) {
          lineOldFormat.shape_attributes.all_points_x.push(point.x);
          lineOldFormat.shape_attributes.all_points_y.push(point.y);
        }

        regions.push(lineOldFormat);
        regions.push(deltaOldFormat);
        i += 2;
      }

      const data = window.btoa(JSON.stringify({ filename: { regions } }));
      const link = document.createElement("a");
      const href = `data:application/json;charset=utf8;base64,${data}`;

      link.setAttribute("href", href);
      link.setAttribute("download", "markup.json");
      link.click();
    },
    selectLine(mainLine: IMainLine, index: number) {
      const { lines } = this.$store.state;

      for (let line of lines) {
        line.main_line.attributes.selected = false;
      }

      mainLine.attributes.selected = true;
      this.$store.dispatch("selectLine", index);
      this.$store.dispatch("savePoint", lines);
      this.$store.dispatch("changeAction", ACTION_TYPES.selectedLine);
    },
    lineInfo(mainLine: IMainLine) {
      const { parking_size: parkingSize, disabled } = mainLine.attributes;
      const typeParkingPlace = disabled ? "Инвалидных" : "Неинвалидных";

      return `${typeParkingPlace} ${parkingSize}`;
    },
  },
});
</script>
<style scoped>
.v-card {
  padding: 0.4em 1.4em;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.141), 0px 1px 5px 0px rgba(0, 0, 0, 0.122);
}

.v-btn {
  margin-right: 15px;
}
</style>
