<template>
  <div>
    <ChangeUrl />
    <MarkupList />
  </div>
</template>
<script lang="ts">
import { defineComponent, defineAsyncComponent } from "vue";

export default defineComponent({
  name: "OptionsApp",
  components: {
    ChangeUrl: defineAsyncComponent(() => import("./ChangeUrl.vue")),
    MarkupList: defineAsyncComponent(() => import("./MarkupList.vue")),
  },
});
</script>
<style></style>
