<template>
  <div class="pop-up-wrapper" :class="{ isShow: popUp }">
    <div class="pop-up">
      <v-btn color="red" class="btn-close" @click="$emit('closePopUp')" icon>
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "PopUp",
  props: ["popUp"],
});
</script>

<style>
.pop-up-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.502);
}

.pop-up-wrapper.isShow {
  z-index: 1;
}

.pop-up {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 3em 4em 2em;
  background-color: rgb(255, 255, 255);
}

.pop-up__title {
  text-align: center;
}

.btn-close {
  position: absolute;
  top: -20px;
  right: -20px;
}

.wrapper-btn {
  display: flex;
  justify-content: center;
}

.wrapper-btn .v-btn {
  margin: 20px;
}
</style>
