<template>
  <h2 class="pop-up__title" v-html="title"></h2>
  <div class="wrapper-btn">
    <div v-if="submitedData">
      <v-btn @click="closePopUp" color="primary" x-large>Ок</v-btn>
    </div>
    <div v-else>
      <v-btn @click="submitData" color="primary" x-large>Да</v-btn>
      <v-btn @click="$emit('closePopUp')" color="primary" outlined x-large
        >Нет</v-btn
      >
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "SubmitMarkup",
  emits: ["closePopUp"],
  data() {
    return {
      submitedData: false,
      title: "Вы уверены что хотите отправить разметку?",
    };
  },
  methods: {
    closePopUp() {
      this.title = "Вы уверены что хотите отправить разметку?";
      this.$emit("closePopUp");
      this.submitedData = false;
    },
    async submitData() {
      const { lines } = this.$store.state;
      const linesSubmit = [];
      const formData = new FormData();

      for (let line of lines) {
        delete line.main_line.attributes.path;
        delete line.main_line.attributes.selected;

        for (let [index, point] of line.main_line.points.entries()) {
          point.id = index;
        }

        linesSubmit.push(line);
      }

      const file = new File([JSON.stringify(linesSubmit)], "file");
      const url = `http://10.80.0.147:5002/marking/v2/${this.$store.state.imgId}`;

      formData.append("file", file);

      const responseGet = await fetch(url);

      let method = "PATCH";

      responseGet.ok ? (method = "PATCH") : (method = "POST");
      const response = await fetch(url, {
        method,
        body: formData,
      });

      if (response.ok) {
        this.$store.dispatch("allowReload");
        this.title = "Данные успешно загружены";
        this.submitedData = true;
      }
    },
  },
});
</script>

<style></style>
