<template>
  <div class="autocomplete">
    <label class="img-search">
      <v-icon class="img-search__icon">mdi-magnify</v-icon>
      <input
        type="text"
        ref="imgSearchField"
        class="img-search__field"
        v-model="imgId"
        @input="filterCamers"
        @focus="showListCamers"
        @blur="hideListCamers"
        @change="selectCamera(imgId)"
      />
    </label>
    <div class="listbox" v-if="visibleListCamers">
      <div
        class="listbox__item"
        v-for="camera in filterListCamers"
        :key="camera.id"
        @mousedown="selectCamera(camera.id)"
      >
        {{ camera.id }} {{ camera.parking_name }}
      </div>
    </div>
  </div>

  <v-btn icon @click="decrementImgId">
    <v-icon>mdi-chevron-left</v-icon>
  </v-btn>

  <v-btn icon @click="incrementImgId">
    <v-icon>mdi-chevron-right</v-icon>
  </v-btn>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "SwitchCamera",
  data() {
    return {
      visibleListCamers: false,
      camers: [] as ICamera[],
      imgId: 0,
      cameraId: 0,
      filterListCamers: [] as ICamera[],
    };
  },
  methods: {
    showListCamers() {
      this.visibleListCamers = true;
    },
    hideListCamers() {
      this.visibleListCamers = false;
    },
    decrementImgId() {
      if (this.cameraId > 0) {
        this.cameraId--;
        this.imgId = this.camers[this.cameraId].id;
        this.$store.dispatch("changeImgId", this.imgId);
      }
    },
    incrementImgId() {
      if (this.cameraId < this.camers.length) {
        this.cameraId++;
        this.imgId = this.camers[this.cameraId].id;
        this.$store.dispatch("changeImgId", this.imgId);
      }
    },
    async getCamers() {
      const url = "http://10.80.0.147:5002/parking?provider=is74";
      const response = await fetch(url);
      const result = await response.json();
      const unsortedCamers = result.filter(
        (item: ICamera) => item.parking_name
      );

      this.camers = unsortedCamers.sort(
        (a: ICamera, b: ICamera) => a.id - b.id
      );
      this.visibleListCamers = true;
    },
    filterCamers() {
      this.filterListCamers = this.camers.filter((camera: ICamera) => {
        const regex = new RegExp("^" + this.imgId);
        return regex.test(String(camera.id));
      });
    },
    selectCamera(cameraId: number) {
      this.imgId = cameraId;
      this.cameraId = this.camers.findIndex((element) => {
        return element.id == this.imgId;
      });
      this.$store.dispatch("changeImgId", cameraId);
    },
  },
  async mounted() {
    await this.getCamers();
    this.imgId = this.$store.state.imgId;
    this.cameraId = this.camers.findIndex((element) => {
      return element.id == this.imgId;
    });

    addEventListener("keypress", (event: KeyboardEvent) => {
      const imgSearchField = this.$refs.imgSearchField as HTMLElement;

      if (event.key === "Enter") {
        imgSearchField.blur();
      }
    });
  },
});
</script>

<style>
.autocomplete {
  position: relative;
}

.img-search {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.img-search__field {
  padding-left: 2em;
  border: none;
  max-width: 200px;
  background-color: rgb(255, 255, 255);
}

.img-search__icon {
  position: absolute;
  left: 5px;
  color: rgb(204, 204, 204);
}

.listbox {
  position: absolute;
  left: 0;
  overflow-y: scroll;
  max-width: 200px;
  max-height: 250px;
}

.listbox__item {
  padding: 0.4em 1.2em;
  background-color: rgba(0, 0, 0, 0.8);
}

.listbox__item:hover {
  cursor: pointer;
  background-color: rgba(40, 40, 40, 0.8);
}
</style>
