<template>
  <PopUp v-if="popUp" :popUp="popUp" @closePopUp="popUp = false">
    <SubmitMarkup @closePopUp="popUp = false" />
  </PopUp>
  <v-app-bar color="primary">
    <v-app-bar-nav-icon
      @click="this.drawer = !this.drawer"
    ></v-app-bar-nav-icon>

    <v-app-bar-title>Настройки</v-app-bar-title>

    <v-spacer></v-spacer>
    <v-btn @click="popUp = true">Отправить разметку</v-btn>
    <v-btn @click="getMarkup">Получить разметку</v-btn>
    <v-spacer></v-spacer>

    <SwitchCamera />
  </v-app-bar>
  <v-navigation-drawer v-model="drawer" absolute temporary>
    <OptionsApp />
  </v-navigation-drawer>
</template>

<script lang="ts">
import { defineComponent, defineAsyncComponent } from "vue";

export default defineComponent({
  name: "ToolBar",
  components: {
    PopUp: defineAsyncComponent(() => import("./PopUp.vue")),
    OptionsApp: defineAsyncComponent(() => import("./OptionsApp.vue")),
    SwitchCamera: defineAsyncComponent(() => import("./SwitchCamera.vue")),
    SubmitMarkup: defineAsyncComponent(() => import("./SubmitMarkup.vue")),
  },
  data() {
    return {
      drawer: false,
      popUp: false,
    };
  },
  methods: {
    getMarkup() {
      this.$store.dispatch("getMarkup");
    },
  },
});
</script>

<style>
.tool-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-app-bar {
  overflow: visible;
}

.v-btn--size-default {
  font-size: 0.8rem;
}

.v-btn__left-item {
  font-weight: bold;
  margin-right: 5px;
}
</style>
